@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
body{
    font-family: 'Noto Sans JP', sans-serif;

   
}

/*----------------
 first-section
 ----------------- */
 
 .first-section{
     display: flex;
     justify-content:space-around;
     background-color:#485460;
     width: 100%;
     border: 2px orange solid;
     color: black;
     font-size: 1.4em;
     
 }
 
 
 .title{
     background-color:papayawhip;
     height:200px;
     padding: 10px;
    margin-top: 40px; 
    
 }
 
 .title h2:hover{
    background-color:#f6e58d;
    padding: 10px;
    
    border-radius: 20px;
    width: 250px;
    height: 150px;
    transform: rotate(360deg); 
    transition: width 5s, height 2s, background-color 2s, transform 3s;
}

 .watch{
     background-image:linear-gradient(to bottom right, #ffbe76, #e67e22);
    width: 170px;
     padding: 5px;
     border-radius: 10px;
     text-align: center;
     margin-top: 35px;
     margin-left: 20px;
    
 }



 

 .banner img{
     width:556px;
     height: 438px;
 }

 /*-----------
  players
  ------------- */
.all-players{
    margin-left: 80px;
    
}
  .players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    justify-content: space-around; 
    background-color: whitesmoke;

   
}
.player{
    width: 350px;  
    left: 180px;
    top: 747px;
    border: 3px solid #c7ecee;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    margin-top: 20px;
    padding: 30px;
    
}
.player-name{
    margin-left:10px;
}
.player-details p{
    padding: 10px;
    color: rgb(214, 133, 41);
}
.player-thumbnail img{     
      width: 300px;
      height: 256px;
      margin-top: 30px ;
      border-radius: 20px;
      padding: 10px;    
  }
  .player-name{
      color: rgb(48, 171, 182);
  }


              /*-----------------------------
               football team  members
              ---------------------------- */
.team-members{
    position:relative;
}
.member-name{
    position:absolute;
    top:30px;
    left: 30%;
    width: 400px;
    
}
.color{
    color: #F97F51;
}

.b-image img{
    width:80%;
    margin:5% 0px 0px 10%;
    background-color:#aaa69d;
           
}
.member-name h1{
    font-size: 2em;
    margin-left:10%;
    margin-bottom: 0;
}
 li{
    background-color: #b2bec3;
    border: 1px solid #32ff7e;
    width: 120px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    column-count: #dfe4ea;   
   
}
li:hover{
    background-color: #2f354271;
    color: blanchedalmond;
    
}
.teams {
    display:grid ;
    grid-template-columns:15% 15%;
    grid-gap:9em;
          
}



  /*------------------------ 
  Copa America highlites
  ------------------------- */
 .title-copa{
     display: flex;
     margin-top: 150px;
    

 }
  .highlights{
    width: 400px;
    margin-left: 130px;
    margin-top: 25px; 
    margin-right: 10px;
       
 }

 .highlights h1{
     font-size: 2.5em;
     color: #7ed6df;
 }
 .highlights p {
     font-weight: 700;
 }
.highlights h5{
    background-color: blanchedalmond;
    padding: 10px;
    width:90px;
    border: inset;
}
  .match img{
    width: 580px;
    height: 430px;
    margin-left: 40px;
  }

  /*----------
   footer 
   ----------*/
footer{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
   .logo img{
       width:483px;
       height: 110px;
   }


   
                   /* -----------
                   media quaries 
                   ---------------*/


   @media only screen and (max-width:688px) {
.container{
    margin: 0px;
}

    .first-section{
   display: inline;
   
}
.banner img{
    width: 90%;
    height: 80%;
    margin-top: 50px;
}
.watch{
    margin-bottom:40px;
    margin-left: 0%;  
}
.watch:hover{
    background-color: #34ace0;
}
.title{
    background-color: #FEA47F;
    width: 300px;
}
       /*--------
        players
        ---------- */

 .all-players{
     margin-left: 0%;
     margin-right: 0%;
 }
 .player-thumbnail img{
     padding-right: 30px;
     border-radius: 0%;
     padding-left: 0%;
     width: 290px;
 }
 .players{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

.player{
    padding-left: 10px;
    width: 300px;
}

.player-details, p{
    text-align: justify;
    background-color: #9AECDB;
}
.player-name{
    color: black;
}

                 /*--------------------
                  about team players 
                  ---------------------*/
.b-image img{
    margin-left: 0%;
    position: relative;
}
.teams{
    width: 100px;
    grid-template-columns: 5% 5%;
    grid-gap: 5em;
   
}
li{
    width: 50px;
    height: 12px;
    padding:5px 10px 15px;
    

    margin: 0%;
    font-size:10px;
}
.member-name{   
    top:10px;
    left: 10px;
    width: 200px;
    position: absolute;
}
.member-name h1{
    margin-top: 0%;
    margin-left: 10px;
    font-size: 1.2em;
    color: #34ace0;

}

                    /*--------------
                     copa-america
                    -------------- */
 .highlights{
     margin-left: 0%;
     margin-right: 0%;
     width: 100%;
 }   
 .title-copa{
     display: inline;           
      }
  .match img {
      margin-left: 0%;
      width: 100%;
  } 
  .logo img{
      width:100%;
      margin-right: 10px;
         
  }  
   }
                   /* ----------
                   tablet devices media quare
                   -------------*/

@media only screen and (min-width:688px) and
(max-width:992px){
                     /* ----------
                     players
                     ---------------- */
    
    .players{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
    .player{
        margin: 25px;
    }
   .first-section{
       width:950px;
      
   }
   .b-image img{
       margin: 0%;
       width: 100%;
       position: relative;
   }
   .teams{
       position: absolute;
       top: 0px;
   }
   .member-name h1{
       margin:0%;
   }
   
}
   


